################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/obj/Release
/obj/Debug
/bin/Release
/bin
/obj/Debug
/obj/Debug/CoreCompileInputs.cache
/.vs/MazeGeneratorGUI
/bin
